.hero {
    width: 100%;

    background-color: black;
    background-image: url("/assets/hero-background.webp");
    background-position: 50% 50%;
    background-size: cover;

    padding: 0.5rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    position: relative;
}

.hero-text {
    padding: 0.5rem 1rem;
    margin: 0.5rem;

    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    text-shadow: 0 0 4px black;
    box-shadow: 0 0 12px white;
    background-color: #f8f8f8;
    color: #333;
    mix-blend-mode: screen;

    border-radius: 0.5rem;
}

.hero-controls {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

.theme-switcher-button {
    display: grid;
    place-items: center;
    background-color: var(--bg-light);
    border: none;

    cursor: pointer;

    width: 40px;
    height: 40px;
    border-radius: 12px;

    &:hover {
        background-color: var(--bg-dim);
    }
}

@media (max-width: 750px) {
    .hero-text {
        font-size: 4rem;
    }

    .hero-controls {
        position: static;
        width: 100%;
    }
}
