<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% if title %}
                {{ title }} - Mabi's Corner
            {% else %}
                Mabi's Corner
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1"
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="icon" href="/assets/icon.png">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        {{ head_extra | safe }}
    </head>
    <body>
        <header>
            <div class="hero">
                <div class="hero-text">Mabi's Corner</div>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>