---
layout: base.vto
---

<header>
    <div class="hero">
        <div class="hero-text">Mabi's Corner</div>
        <div class="hero-controls">
            <theme-switcher class="theme-switcher"></theme-switcher>
        </div>
    </div>
</header>
<nav class="nav-bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
    </ul>
</nav>
<main>
    {{ content }}
</main>
