@import "styles/gradient-border.css";

body {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    background-image: url("/assets/hero-background.webp");
    background-size: cover;
    background-position: 50% 50%;

    font-size: 2rem;

    display: grid;
    place-items: center;
}

.panel {
    background-color: var(--bg-light);
    padding: 0.75em;

    border-radius: 1rem;
    --border-width: 0.5rem;

    text-align: center;
}

h1 {
    margin: 0;
}
