@import "styles/hero.css";

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --accent-color: #9370d8;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

main {
    padding: 0.5rem;
    margin: auto;
    width: 100vw;
    max-width: 80rem;
}

hr {
    border: none;
    border-bottom: 4px dashed var(--accent-color);
}
