@import "styles/hero.css";
@import "styles/font.css";

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --accent-color: #9370d8;
}

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    margin: 0;

    color: #333;
}

main {
    padding: 0.5rem;
    margin: auto;
    width: 100%;
    max-width: 80rem;
}

hr {
    border: none;
    border-bottom: 4px dashed var(--accent-color);
}

h2,
h3,
h4 {
    margin: 0.5em 0 0.25em 0;
}

p,
ul {
    margin: 0.5em 0;
}
