@import "styles/hero.css";
@import "styles/navbar.css";
@import "styles/font.css";
@import "styles/inputs.css";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    margin: 0;

    color: var(--text);
    background-color: var(--bg);
}

@property --text {
    syntax: "<color>";
    initial-value: #333;
    inherits: true;
}

@property --text-dim {
    syntax: "<color>";
    initial-value: #555;
    inherits: true;
}

@property --bg {
    syntax: "<color>";
    initial-value: #fefefa;
    inherits: true;
}

@property --bg-light {
    syntax: "<color>";
    initial-value: #f8f8f4;
    inherits: true;
}

@property --bg-dim {
    syntax: "<color>";
    initial-value: #ecece8;
    inherits: true;
}

@property --link {
    syntax: "<color>";
    initial-value: #0066cc;
    inherits: true;
}

@property --link-visited {
    syntax: "<color>";
    initial-value: #653096;
    inherits: true;
}

:root {
    --accent-color: #9370d8;
    --secondary-color: #097b30;
    accent-color: var(--accent-color);

    --text: #333;
    --text-dim: #555;
    --bg: #fefefa;
    --bg-light: #f8f8f4;
    --bg-dim: #ecece8;
    --link: #0066cc;
    --link-visited: #653096;

    transition: 0.3s ease;
    transition-property: --text, --text-dim, --bg, --bg-dim, --bg-light, --link, --link-visited,
        --accent-color, --secondary-color;

    color-scheme: light;
}

:root.dark-theme {
    --secondary-color: #83daa1;

    --text: whitesmoke;
    --text-dim: #ccc;
    --bg: #22222f;
    --bg-light: #292934;
    --bg-dim: #35353d;
    --link: #7ebaf7;
    --link-visited: #dc9fff;

    color-scheme: dark;
}

@media (prefers-reduced-motion) {
    :root {
        transition: none;
    }
}

:root:not(.dark-theme) .dark-only {
    display: none;
}

:root.dark-theme .light-only {
    display: none;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    opacity: 0.9;
}

main {
    padding: 0.5rem;
    margin: auto;
    width: 100%;
    max-width: 72rem;
}

hr {
    border: none;
    border-bottom: 4px dashed var(--accent-color);
}

hgroup {
    margin: 1em 0;

    h1 {
        margin: 0;
    }
    p {
        margin: 0;
        color: var(--text-dim);
    }
}

h2,
h3,
h4 {
    margin: 0.5em 0 0.25em 0;
}

p,
ul {
    margin: 0.5em 0;
}

code {
    font-size: 1em;
    font-family: "JetBrains Mono", "Cascadia Code", monospace;
}
