@import "styles/gradient-border.css";

.panel-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.panel {
    max-width: 100%;
    width: 30rem;
    padding: 0.5rem;

    --border-width: 4px;
    border-radius: 0.5rem;
    background-color: #fdfdfd;
    /* rest is applied via the gradient-border class */

    display: flex;
    flex-flow: row nowrap;

    .name {
        color: inherit;

        &:hover {
            color: #097b30;
        }
    }

    h3 {
        margin: 0;

        display: flex;
        flex-flow: row nowrap;
        gap: 0.25em;
        align-items: center;
    }

    .icon {
        width: 1.25em;
        height: 1.25em;
        object-fit: cover;
    }

    .content {
        flex-grow: 1;
    }

    .badges {
        display: grid;
        grid-template-columns: auto auto;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }
}

.clock {
    float: right;
}

@media (max-width: 650px) {
    .intro-container {
        display: flex;
        flex-flow: column-reverse nowrap;
    }

    .clock {
        float: none;
    }
}
