@import "styles/gradient-border.css";

.panel-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.panel {
    max-width: 100%;
    width: 30rem;
    padding: 0.5rem;

    --border-width: 4px;
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    /* rest is applied via the gradient-border class */

    display: flex;
    flex-flow: row nowrap;

    .name {
        color: inherit;

        &:hover {
            color: #097b30;
        }
    }

    h3 {
        margin: 0;

        display: flex;
        flex-flow: row nowrap;
        gap: 0.25em;
        align-items: center;
    }

    .icon {
        width: 1.25em;
        height: 1.25em;
        object-fit: cover;
    }

    .content {
        width: 100%;
        flex-shrink: 1;
    }

    .badges {
        display: flex;
        flex-flow: row wrap;

        gap: 2px;
        justify-content: flex-end;
        align-content: flex-start;

        min-width: calc(3rem + 2px);

        /* If there is only 1 child, use only 1 column */
        &:has(:only-child) {
            min-width: 1.5rem;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }
}

.project-link {
    /* reset underline position */
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    span {
        text-decoration: underline;
    }

    .link-icon {
        height: 1.25em;
        margin-right: 0.25em;
    }
}

.intro-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: flex-start;
}

@media (max-width: 750px) {
    .intro-container {
        flex-flow: column nowrap;
    }

    .clock {
        float: none;
    }
}
