.panel-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.panel {
    max-width: 100%;
    width: 30rem;
    padding: 0.5rem;

    --border-width: 4px;
    /* gradient border stuff */
    border: var(--border-width) solid transparent;
    border-radius: 0.5rem;
    background-color: #fdfdfd;
    background-clip: padding-box;

    display: flex;
    flex-flow: row nowrap;

    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        right: calc(-1 * var(--border-width));
        bottom: calc(-1 * var(--border-width));

        background: linear-gradient(
            135deg,
            var(--border-col-1, #e174c5),
            var(--border-col-2, #8643b5)
        );
        border-radius: inherit;
        z-index: -1;
    }

    .name {
        color: inherit;

        &:hover {
            color: #097b30;
        }
    }

    h3 {
        margin: 0;

        display: flex;
        flex-flow: row nowrap;
        gap: 0.25em;
        align-items: center;
    }

    .icon {
        width: 1.25em;
        height: 1.25em;
        object-fit: cover;
    }

    .content {
        flex-grow: 1;
    }

    .badges {
        display: grid;
        grid-template-columns: auto auto;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }
}
